{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}



<style>
.payment-container {
    background-color: #ffffff;
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-option {
    margin-bottom: 20px;
}

.payment-option h3 {
    color: {{site_setting.theme_color}};
    margin-bottom: 10px;
}

.pix-key {
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
}

form {
    margin-top: 20px;
}

.payment-form {
    margin-bottom: 20px;
}

.payment-form h3 {
    color: {{site_setting.theme_color}};
    margin-bottom: 10px;
}

.checkout__order {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.checkout__order h4 {
    color: #333333;
    margin-bottom: 15px;
}

.checkout__order__products,
.checkout__order__subtotal,
.checkout__order__shipping,
.checkout__order__total {
    margin-bottom: 10px;
}

.checkout__order__products span,
.checkout__order__subtotal span,
.checkout__order__shipping span,
.checkout__order__total span {
    float: right;
}

.comprovante-wrapper {

    height: 200px;
    overflow-x: auto;
    border: 1px solid #000; /* Para o retângulo */
}

.comprovante-img {
    width: auto; /* Mantém a proporção da imagem */
    height: auto; /* Mantém a proporção da imagem */
    max-width: -webkit-fill-available; /* Garante que a imagem não exceda a largura do wrapper */
    cursor: pointer; /* Muda o cursor para indicar que a imagem pode ser clicada */
}

</style>
<div class="container my-3">
    <div class="row">
    <div class="payment-container col-12 col-md-6 ">
        <h2>Opções de Pagamento:</h2><br>
        {% if order.payment_method == 'pix' %}
        <!-- Pix -->
        <div class="payment-option">
            <h3>Pagamento via Pix</h3>
            <p>Copie e cole a chave Pix abaixo para realizar o pagamento:</p>
            <p class="pix-key " id="pixEmail">xflavors@gmail.com</p>
            <button  class="site-btn" onclick="copiarTexto()">Copiar</button>
        </div>
        {% else %}
        <!-- Depósito Bancário -->
        <div class="payment-option">
            <h3>Depósito Bancário</h3>
            <p>Realize um depósito usando as seguintes informações bancárias:</p>
            <ul>
                <li>Banco: Nu Pagamentos S.A. (260)</li>
                <li>Agência: 0001</li>
                <li>Conta Corrente: 27794362-7</li>
                <li>CNPJ: 30059334/0001-00</li>
                <li>Titular da conta: André Moreira Geraseev</li>
            </ul>
        </div>
        {% endif %}
        <!-- Upload do Comprovante -->
        <!-- upload_comprovante.html -->
    <div class="payment-form">
        <h3>Envie o comprovante de pagamento</h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}

            <button class="site-btn" type="submit">Enviar Comprovante</button>
        </form>
        {% if order.comprovante %}
<p>Comprovante enviado:</p>
<div class="comprovante-wrapper">
    <img src="{{ order.comprovante.url }}" alt="Comprovante" class="comprovante-img" onclick="ampliarImagem(this)">
</div>
        {% endif %}
    </div>
    </div>

        <div class="col-lg-4 col-md-6 ">
                        <div class="checkout__order my-3 my-md-0">
                            <h4>PEDIDO {{order.id}}</h4>
                            <div class="checkout__order__products">Qtd. Produtos <span> Total</span></div>
                            <ul>
                                {% for item in order.items.all %}
                                <li>{{item.quantity}} - {{item.product.name}}  <span>R${{item.total}}</span>
                                </li>
                                {% endfor %}

                            </ul>
                            <div class="checkout__order__subtotal">Subtotal <span id="valor_subtotal">R${{order.subtotal}}</span></div>
                            {% if order.cupom %}
                            <div class="checkout__order__subtotal">Desconto <span id="valor_desconto">R${{order.discount}}</span></div>
                            {% endif %}
                            <div class="checkout__order__subtotal">Frete <span id="valor_frete">R${{order.valor_frete|default:0.00}}</span></div>
                            <div class="checkout__order__total">Total <span id="valor_total">R${{order.total}}</span></div>


                        </div>
                    </div>


    </div>
</div>
<script>
function copiarTexto() {
    var texto = document.getElementById('pixEmail').innerText;
    var elem = document.createElement('textarea');
    document.body.appendChild(elem);
    elem.value = texto;
    elem.select();
    document.execCommand('copy');
    document.body.removeChild(elem);
    showSuccessAlert('Chave Pix copiada com sucesso! ' + texto);
}
</script>

<script>
function ampliarImagem(imgElement) {
    // Cria um novo elemento de imagem para exibir em tamanho maior
    var img = document.createElement("img");
    img.src = imgElement.src;
    img.style.width = "auto";
    img.style.height = "auto";
    img.style.maxWidth = "50%";
    img.style.maxHeight = "50%";

    // Cria um modal ou um novo elemento para mostrar a imagem ampliada
    var modal = document.createElement("div");
    modal.style.position = "fixed";
    modal.style.left = "0";
    modal.style.top = "0";
    modal.style.width = "100%";
    modal.style.height = "100%";
    modal.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
    modal.style.display = "flex";
    modal.style.justifyContent = "center";
    modal.style.alignItems = "center";
    modal.style.zIndex = "1000";
    modal.onclick = function() { this.remove(); }; // Fecha o modal ao clicar fora da imagem

    modal.appendChild(img);
    document.body.appendChild(modal);
}
</script>
{% endblock %}

