<style>


</style>

<!-- sidebar.html -->
<div id="cart-sidebar" class="cart-sidebar">
  <div class="cart-header">
    <h2>Shopping Cart</h2>
    <button onclick="toggleCartSidebar()" class="close-btn"><i class="fa-regular fa-circle-xmark"></i> </button>
  </div>
  <div class="cart-content">
    {% for item in cart.items.all %}
      <div class="cart-item">
        <img src="{{ item.product.images.first.image.url}}" alt="{{ item.product_or_variation.name }}" class="cart-item-img">
        <div class="item-details">
          {% autoescape on %}
          <p class="item-name">{{ item.product_or_variation.name|escape|linebreaksbr}}</p>
            {% endautoescape %}
          <p class="item-price">

              <span class="original-price">R${{ item.total_price_or_promotional_price }}</span>
            {% if item.product_or_variation.promocao_ativa %}
            <span class="risca-price">R${{ item.total }}</span>
            {% endif %}
          </p>
          <div class="quantity-selector">
            <button class="quantity-btn" onclick="decreaseQuantity({{ item.id }})">-</i></button>
            <input type="text" value="{{ item.quantity }}" id="quantity-{{ forloop.counter }}">
            <button class="quantity-btn" onclick="increaseQuantity({{ item.id }})">+</button>
          </div>
        </div>
                  <a onclick="removeItem({{ item.id}})" class="remove-item-btn"><i class="fa-solid fa-trash-can"></i></a>



      </div>
    <div class="cart-item-end"></div>
    {% empty %}
      <p>Seu carrinho esta vazio!</p>
    {% endfor %}
  </div>
  <div class="cart-footer">
    <p>Total: <span id="total-price">R${{ cart.total }}</span></p>
    <a href="{% url 'checkout' %}" class="checkout-btn">CHECKOUT</a>
    <a href="{% url 'cart' %}" class="checkout-btn">CARRINHO</a>
  </div>
</div>

<script>

// Função auxiliar para obter o valor do cookie CSRF
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

</script>