{%load static%}

<div class="fixed-top mb-0 pb-0 bg-white" style="">
<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper ">
    <div class="humberger__menu__logo">
        <a href="#"><img src="{{site_setting.logo.url}}" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="{% static 'img/language.png' %}" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Spanis</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
                <ul class="header__menu__dropdown">
                    {% for departement in departements %}
                        <li><a href="{{ category.link }}">{{ departement.name }}</a></li>
                        {% endfor %}
                </ul>
            </li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">{{ footer_info.phone }}</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        {% for link in social_links %}
        <a href="{{ link.url }}"><i class="fa {{ link.icon_class }}"></i></a>
        {% endfor %}
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> {{footer_info.email}}</li>
            <li>{{footer_info.mensagem}}</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">

    <div class="container-flex">
        <div class="row row header__align"  >
            <div class="col-6 ">
                <div class="header__logo">
                    <a href="./index.html"><img src="{{site_setting.logo.url}}" alt=""></a>
                </div>
            </div>


            <div class="col-4 col-md-5 col-lg-6" >
                <div class="header__cart">
                    <ul>
                        <li><a href="{% static '#' %}"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="{% static '#' %}"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>{{site_setting.theme_color}}</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>



<!-- Hero Section Begin -->

<section class="hero">
    <div class="container-flex ">
        <nav class="navbar navbar-expand-lg navbar-dark "
             style="background-color:{{site_setting.navbar_color}}; font-family:{{site_setting.navbar_font}}; font_weight:{{site_setting.navbar_font_weight}}">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"
                           style=" font-family:{{site_setting.navbar_font}};font-weight:{{site_setting.navbar_font_weight}}">
                            Home <span class="sr-only">(current)</span></a>
                    </li>
                    {% for departement in departements %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ category.link }}"
                           style=" font-family:{{site_setting.navbar_font}};font-weight:{{site_setting.navbar_font_weight}}">
                            {{departement.name }}</a>
                    </li>


                    {% endfor %}
                    </ul>
                    <div class="header__top__right "style=" flex:auto">
                        <div class="header__top__right__social">
                            {% for link in social_links %}
                            <a href="{{ link.url }}"><i class="fa {{ link.icon_class }}"></i></a>
                            {% endfor %}
                        </div>
                        <div class="header__top__right__language">
                            <img src="{% static 'img/language.png' %}" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="{% static '#' %}">Spanis</a></li>
                                <li><a href="{% static '#' %}">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="{% static '#' %}"><i class="fa fa-user"></i> Login</a>
                        </div>
                    </div>

            </div>
        </nav>

        <div class="row">


            <div class="col-lg "  >
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories ">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">

                            <h5>{{ footer_info.phone }}</h5>
                            <span>suporte  </span>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>


</section>
<!-- Hero Section End -->
</div>
{% if request.resolver_match.url_name == 'home' %}
{%if site_setting.banner_principal %}
                <div class="container hero__banners" >
                    {% if hero_banners.is_displayed %}
                        {% if hero_banners.link %}<a href="{% url 'track-click' hero_banners.id 'hero' %}">{% endif %}
                            <div class="hero__item set-bg-cover" data-setbg="{{hero_banners.image.url}}">
                                <div class="hero__text">
                                    {% if hero_banners.title_active %}
                                    <span>{{hero_banners.title}}</span>
                                    {% endif %}
                                    {% if hero_banners.description_active %}
                                    <h2>{{hero_banners.description}}</h2>
                                    {% endif %}
                                    {% if hero_banners.call_active %}
                                    {% if hero_banners.link %}
                                    <a href="{% url 'track-click' hero_banners.id 'hero' %}"> class="primary-btn">{{hero_banners.call}}</a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% if hero_banners.link%}</a>{% endif %}
                    {% endif %}
                </div>
                {% endif %}
{% endif %}