{% extends "pagamento/base_pagamento.html" %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg-cover" data-setbg="{% static 'img/breadcrunb.png'%}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a href="">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if adress %}
                {% else %}
                <h4>Por favor preencha o endereco de envio, ou faca login ou se cadastre</h4>
                <!-- Botão para abrir o modal de login -->
                    <button type="button" class="site-btn my-4" data-toggle="modal" data-target="#loginModal">
                        Login
                    </button>
                    <a name="" id="" class="site-btn my-4" href="{% url 'cadastro'%}" role="button">CADASTRO</a>


                    <!-- Modal de Login -->
                    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
                         aria-labelledby="loginModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Formulário de Login -->
                                    <div class="login-container">
                                        <form id="loginForm">
                                            <div class="form-group">
                                                <label for="username">Usuário</label>
                                                <input type="text" class="form-control" id="username"
                                                       placeholder="Usuário">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Senha</label>
                                                <input type="password" class="form-control" id="password"
                                                       placeholder="Senha">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Entrar</button>
                                            <p class="message">Não esta registrado? <a href="#">Crie uma conta</a>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                {% endif %}
            </div>
        </div>
        <div class="checkout__form">
            {% if not adress %}
            <h4>Endereco de envio</h4>
            {% else %}
            <h4>Confirnando dados</h4>
            {% endif %}
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    {% if not adress %}
                    <form id="address-form" method="post">
                        {% csrf_token %}
                    <input type="hidden" name="form_type" value="address">

                        {% crispy form %}
                    </form>
                    {% endif %}
                    {% if adress %}
                    {% if user.is_authenticated %}
                    <div id="endereco_de_envio" class="my-3">
                        <label for="endereco_de_envio_select">Endereco de envio</label>
                        <select class="custom-select" id="endereco_de_envio_select"
                                onchange="atualizarEnderecoPrimario()">
                            {% for adress in user.profile.addresses.all %}
                            <option value="{{adress.id}}">{{adress.destinatario}} {{adress.rua}}, {{adress.numero}} -
                                {{adress.bairro}} - {{adress.cidade}} - {{adress.estado}} - {{adress.cep}}
                            </option>
                            {% endfor %}
                        </select>

                    </div>
                    {% else %}
                    {{adress}}
                    {% endif %}

                    <form id="order-form" method="post">
                        <div class="form-group">
                            {% csrf_token %}

                            {% if 'estoque' in form_pedido.errors.as_text %}
                            <div class="error-messages">

                                <a href="{% url 'cart' %}" class="btn btn-danger">Ajustar Itens no Carrinho</a>
                            </div>
                            {% endif %}

                            <input type="hidden" name="cart_id" value="{{ cart.id }}">
                            <input type="hidden" name="form_type" value="order">

                            {% crispy form_pedido %}

                        </div>
                    </form>

                    {% if cart.cupom %}
    <div class="cupom-aplicado">
        <p>Cupom aplicado: <strong>{{ cart.cupom.codigo }}</strong></p>
        <form method="post" action="{% url 'remover_cupom' %}">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="remover_cupom">
            <button type="submit" class="site-btn">Remover Cupom</button>
        </form>
    </div>
{% else %}
    <form id="cupom-form" method="post">
        <div class="form-group">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ request.user }}">
            <input type="hidden" name="cart_id" value="{{ cart.id }}">
            <input type="hidden" name="form_type" value="cupom">
            {% crispy form_cupom %}
            <button type="submit" class="site-btn">Aplicar Cupom</button>
        </div>
    </form>
{% endif %}
                    {% endif %}
                </div>


                <div class="col-lg-4 col-md-6">
                    <div class="checkout__order">
                        <h4>Seu Pedido</h4>
                        <div class="checkout__order__products">Produtos <span>Total</span></div>
                        <ul>
                            {% for item in cart.items.all %}
                            <li>{{item.quantity}} - {{item.product.name}} <span>{{item.total_price_or_promotional_price}}</span>
                            </li>
                            {% endfor %}

                        </ul>

                        <div class="checkout__order__shipping">Subtotal <span id="valor_subtotal">R${{cart.total}}</span></div>
                        <div class="checkout__order__shipping">Frete <span id="valor_frete">R${{cart.frete|default:0.00}}</span></div>
                        <div class="checkout__order__shipping">Desconto <span id="valor_desconto">R${{cart.desconto|default:0.00}}</span></div>
                        <div class="checkout__order__total">Total <span id="valor_total">R${{cart.total_com_desconto}}</span></div>

                        {% if adress %}
                        <button type="submit" id="order-submit" class="site-btn" form="order-form">FINALIZAR PEDIDO</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout Section End -->


<!--Carregando-->
<script>
document.getElementById('order-form').addEventListener('submit', function() {
    toggleCarregando(true); // Mostra o loader
});


const carregandoTexto = document.getElementById('carregandoTexto');
const mensagens = [
    'Verificando produtos',
    'Verificando endereço',
    'Confirmando dados',
    // Adicione mais mensagens conforme necessário
];

let mensagemAtual = 0;
let pontoAtual = 0;

function atualizarCarregamento() {
    carregandoTexto.textContent = mensagens[mensagemAtual] + '.'.repeat(pontoAtual + 1);
    pontoAtual = (pontoAtual + 1) % 3;
    if (pontoAtual === 0) {
        mensagemAtual = (mensagemAtual + 1) % mensagens.length;
    }
}

setInterval(atualizarCarregamento, 1000); // Atualiza a cada segundo

</script>
<script>
<!--    VALIDA CEP -->
    function createErrorSpan(message,cep,cepField,errorContainerId,errorContainer) {
            if (!errorContainer) {
                errorContainer = document.createElement('span');
                errorContainer.id = errorContainerId;
                errorContainer.className = 'invalid-feedback';
                errorContainer.style.display = 'none';
                cepField.parentNode.appendChild(errorContainer);
            }

            // Limpa o conteúdo anterior e adiciona o novo conteúdo com <strong>
            errorContainer.innerHTML = '';
            var strongMessage = document.createElement('strong');
            strongMessage.textContent = message;
            errorContainer.appendChild(strongMessage);

            errorContainer.style.display = 'block';
        }

        function validacep_submit(valorCep) {
    var cep = valorCep.replace(/\D/g, '');
    if (cep.length === 8) {
        fetch(`https://viacep.com.br/ws/${cep}/json/`)
            .then(response => response.json())
            .then(data => {
                if (!data.erro) {
                    // CEP válido, atualiza os outros campos
                    // Exemplo: document.getElementById('id_rua').value = data.logradouro;
                } else {
                    // CEP inválido, você pode definir novamente uma mensagem de validação
                    document.getElementById('id_cep').setCustomValidity('CEP não encontrado.');
                }
            })
            .catch(error => {
                // Tratar o erro de conexão ou problemas com o fetch
                console.error('Erro ao buscar o CEP:', error);
            });
    } else {
        // Se o CEP não tiver 8 dígitos, defina uma mensagem de validação
        document.getElementById('id_cep').setCustomValidity('CEP deve ter 8 dígitos.');
    }
}



        function valida_cep(cep,cepField,errorContainerId,errorContainer){

        if (cep.length === 8) {
            fetch(`https://viacep.com.br/ws/${cep}/json/`)
            .then(response => response.json())
            .then(data => {
                if (!data.erro) {
                    cepField.classList.remove("is-invalid");
                    cepField.classList.add("is-valid");
                    if (errorContainer) errorContainer.style.display = 'none';

                    document.getElementById('id_rua').value = data.logradouro;
                    document.getElementById('id_bairro').value = data.bairro;
                    document.getElementById('id_cidade').value = data.localidade;
                    document.getElementById('id_estado').value = data.uf;
                }
                else {
                    cepField.classList.remove("is-valid");
                    cepField.classList.add("is-invalid");
                    document.getElementById('id_rua').value = '';
                    document.getElementById('id_bairro').value = '';
                    document.getElementById('id_cidade').value = '';
                    document.getElementById('id_estado').value = '';
                    createErrorSpan('CEP inválido ou não encontrado.',cep,cepField,errorContainerId,errorContainer);
                }
            })
            .catch(error => {
                console.log(error);
                createErrorSpan('Erro ao buscar o CEP.',cep,cepField,errorContainerId,errorContainer);
            });
        }
        else {
            cepField.classList.remove("is-valid");
            cepField.classList.add("is-invalid");
            createErrorSpan('CEP inválido.',cep,cepField,errorContainerId,errorContainer);
        }
        }

    document.getElementById('id_cep').addEventListener('change', function() {
        var cep = this.value.replace(/\D/g, '');
        var cepField = document.getElementById('id_cep');
        var errorContainerId = 'error_1_id_cep';
        var errorContainer = document.getElementById(errorContainerId);
        valida_cep(cep,cepField,errorContainerId,errorContainer)



    });

</script>

<!--LOGIN-->
<script>
    document.getElementById('loginForm').addEventListener('submit', function(event){
    event.preventDefault();

    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;

    // Preparar os dados a serem enviados
    var data = {
        'username': username,
        'password': password
    };

    // Fazer uma requisição AJAX para o servidor
    fetch('{% url "user_login"%}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        console.log('Success:', data);
        // Redirecionar o usuário ou mostrar uma mensagem, dependendo da resposta
        if (data.success) {
            window.location.href = '{% url "checkout"%}';
        } else {
            alert('Falha no login: ' + data.message);
        }
    })
    .catch((error) => {
        console.error('Error:', error);
    });
});


</script>

<!--CPF-->
<script>
        function validaCPF(cpf) {
    console.log(cpf);
    cpf
    cpf = cpf.value.replace(/\D/g, ''); // Remove caracteres não numéricos

    if (cpf.length !== 11 || /^(\d)\1+$/.test(cpf)) {
            console.log('cpf invalido');

        return false; // Verifica o tamanho e a sequência de dígitos iguais
    }

    var soma = 0;
    var resto;

    // Calcula o primeiro dígito verificador
    for (var i = 1; i <= 9; i++) {
        soma += parseInt(cpf.substring(i-1, i)) * (11 - i);
    }
    resto = (soma * 10) % 11;
    if ((resto === 10) || (resto === 11)) resto = 0;
    if (resto !== parseInt(cpf.substring(9, 10))) return false;

    soma = 0;
    // Calcula o segundo dígito verificador
    for (var i = 1; i <= 10; i++) {
        soma += parseInt(cpf.substring(i-1, i)) * (12 - i);
    }
    resto = (soma * 10) % 11;
    if ((resto === 10) || (resto === 11)) resto = 0;
    if (resto !== parseInt(cpf.substring(10, 11))) return false;
    console.log('cpf valido');

    return true;
}

</script>



<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('div_id_frete').addEventListener('change', function() {
        // Encontrar o botão de rádio selecionado dentro da div
        const freteSelecionado = document.querySelector('#div_id_frete input[name="frete"]:checked');
        console.log(freteSelecionado);
        if (freteSelecionado) {
            // Extrair o valor do frete
            const valorFrete = freteSelecionado.value.split('-')[1]; // Pega a parte do valor após o hífen
            console.log(valorFrete);
            // Atualizar o valor do frete na página
            document.getElementById('valor_frete').textContent = 'R$' + valorFrete;
            atualizarTotal()
        }
    });
});


function atualizarTotal() {
    // Obter valores do subtotal e do frete
    var desconto = parseFloat(document.getElementById('valor_desconto').textContent.replace('R$', ''));
    var subtotal = parseFloat(document.getElementById('valor_subtotal').textContent.replace('R$', ''));
    var frete = parseFloat(document.getElementById('valor_frete').textContent.replace('R$', ''));
    // Calcular o total
    var total = subtotal + frete - desconto
    // Atualizar o valor total na página
    document.getElementById('valor_total').textContent = 'R$' + total.toFixed(2);
}
</script>


<script>

function atualizarEnderecoPrimario() {

    var enderecoId = document.getElementById('endereco_de_envio_select').value;
    console.log(enderecoId);
    fetch('/pedidos/mudar_endereco', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken') // Certifique-se de incluir o token CSRF
        },
        body: JSON.stringify({ endereco_id: enderecoId })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            console.log('Endereço atualizado com sucesso.');
            toggleCarregando(false)
            showSuccessAlert(data.message);
            // Código adicional em caso de sucesso (opcional)
        } else {

            console.error('Erro ao atualizar o endereço:', data.error);
            // Código adicional em caso de erro (opcional)
        }
    })
    .catch(error => {

        console.error('Erro:', error);
    });
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>

</script>

{% endblock %}